$metis-menu-bg: #333 !default;
$metis-menu-bg2: #222 !default;
$metis-menu-active-link-color: #C00 !default;
$metis-menu-link-color: #FFF !default;
$metis-menu-border: solid 1px #222 !default;

.metis-menu-vertical {
    background: $metis-menu-bg;
    border-right: solid 1px #dddddd;

    .sidebar {
        display: block;
        float: left;
        width: 250px;
        background: $metis-menu-bg;
    }
    .sidebar-nav {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        background-image: -webkit-linear-gradient(left, color-stop($metis-menu-bg 10px), color-stop($metis-menu-bg2 10px));
        background-image: linear-gradient(to right, $metis-menu-bg 10px, $metis-menu-bg2 10px);
        background-repeat: repeat-x;
        //filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);
    }
    .sidebar-nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .sidebar-nav a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active {
        outline: none;
    }
    .sidebar-nav ul li, .sidebar-nav ul a {
        display: block;
    }
    .sidebar-nav ul a {
        padding: 10px 20px;
        color: $metis-menu-link-color;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        //border-top: $metis-menu-border;
    }
    .sidebar-nav ul a:hover, .sidebar-nav ul a:focus, .sidebar-nav ul a:active {
        color: $metis-menu-active-link-color;
        text-decoration: none;
    }
    .sidebar-nav ul ul a {
        padding: 10px 30px;
        background-color: rgba(255, 255, 255, 0.1);
    }
    .sidebar-nav ul ul li:hover, .sidebar-nav ul ul li:focus, .sidebar-nav ul ul li:active {
        background-color: rgba(255, 255, 255, 0.2);
    }
    .sidebar-nav-item {
        padding-left: 5px;
    }
    .sidebar-nav-item-icon {
        padding-right: 5px;
    }
}

.metisFolder, .metisFolder ul {
    list-style: none;
}

.metisFolder {
    padding-left: 0;

    li {
        position: relative;
    }

    li a {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        color: $metis-menu-bg;
        text-decoration: none;
        outline: 0 none;
    }

    ul:before {
        position: absolute;
        border-left: 1px dotted $metis-menu-bg;
        content: "";
        width: 30px;
        top: 25px;
        left: 5px;
        bottom: 17px;
    }

    ul > li:before {
        position: absolute;
        //border-top: 1px dotted $metis-menu-bg;
        content: "";
        width: 30px;
        top: 13px;
        left: -33px;
    }

    li.active > a > span.fa-folder-o:before {
        content: "\f115" !important;
    }
}
