<eeh-slideout is-open="slideOutMenuIsOpen" panel-selector="'#panel'" menu-selector="'#menu'">
    <nav id="menu">
        <eeh-navigation-menu menu-name="'menuThree'" nav-pills></eeh-navigation-menu>
    </nav>

    <main id="panel">
        <nav class="navbar navbar-default navbar-examples">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="btn btn-primary navbar-btn"
                            ng-click="slideOutMenuIsOpen = !slideOutMenuIsOpen">
                        <span class="fa fa-bars"></span>
                    </button>
                </div>
            </div>
        </nav>

        <header class="text-center">
            <div class="jumbotron">
                <div ng-include="'app/layout/logo.svg'"></div>
                <h1><a ui-sref="demo.layout.main">eeh-navigation&nbsp;·&nbsp;examples</a></h1>
                <p>An AngularJS menu module.</p>
            </div>

            <div class="project-details">
                Version 4.0.0 &nbsp;&nbsp;·&nbsp;&nbsp;
                <a href="https://github.com/ethanhann/eeh-navigation">GitHub Project</a> &nbsp;&nbsp;·&nbsp;&nbsp;
                <a href="https://github.com/ethanhann/eeh-navigation/tree/3.3.0/doc">Old 3.3.0 Docs</a>
            </div>
        </header>

        <section class="portfolio">
            <div class="container">
                <ui-view></ui-view>
            </div>
        </section>

        <footer>
            <div class="container">
                <p class="text-muted">
                    author <a href="http://www.ethanhann.com" title="Author">Ethan Hann</a>
                </p>
            </div>
        </footer>
    </main>
</eeh-slideout>